---
import Button from '@components/Button.vue'
import Hero from '@components/Hero.astro'
import Default from '@layouts/Default.astro'

const title = 'Page not found'
const description = 'Page not found description'
const page = { title, description, url: '/404' }
---

<Default {...page}>
  <article>
    <Hero name={title}>
      <Button as='a' href='/' type='secondary'>Return to the homepage</Button>
    </Hero>
  </article>
</Default>
