---
import Body from '@/components/Body.astro'
import Plain from '@/layouts/Plain.astro'

const title = 'Get your copy of Futurestate Design'
const description =
  'We know you only want this so you can avoid the relatives for a while – so we’ll do our best to get a copy sent out to you in time for Xmas (UK addresses only please - sleigh diesel is pricey this year).'
const url = '/giveaway'
const image = '/images/cover.jpg'

const page = { title, description, url, image }
---

<Plain {...page}>
  <article class='w-screen min-h-screen relative'>
    <div class='pt-[156px] container'>
      <div class='xl:w-1/2'>
        <div class='xl:max-w-[480px]'>
          <h1 class='text-[36px] leading-tight font-bold mb-5 max-w-4'>
            {title}
          </h1>
          <Body class='mb-5'>
            <p>{description}</p>
          </Body>
          <script
            charset='utf-8'
            type='text/javascript'
            src='//js.hsforms.net/forms/embed/v2.js'
          ></script>
          <script is:inline>
            hbspt.forms.create({
              region: 'na1',
              portalId: '4997086',
              formId: 'a50e39f5-7e2a-4628-a99f-5df157e7b49c'
            })
          </script>
        </div>
      </div>
    </div>
    <img
      src={image}
      alt='Book cover'
      class='fixed top-0 bottom-0 right-0 object-cover object-center h-full w-1/2 hidden xl:block'
    />
  </article>
</Plain>
