---
import site from '@data/site'
import Container from '@components/Container.astro'
import { Hero, Socials } from '@components/index.astro'
import Default from '@layouts/Default.astro'

let socials = await Astro.glob('../content/socials/*.md')

const name = 'Socials'

const page = {
  name,
  url: '/socials'
}
---

<Default {...page} title={name} schemaWebPage={false}>
  <Hero />
  <!-- <pre>{JSON.stringify(socials, null, 2)}</pre>
  {socials.map(social => <li>{social.frontmatter.name}</li>)} -->
  <Socials name="Foo" id="bar" {socials} />
</Default>
