---
import site from '@data/site'
import Default from '@layouts/Default.astro'
import { Hero } from '@components/index.astro'
import Container from '@components/Container.astro'
import BlockQuote from '@components/BlockQuote.astro'
import SchemaEvent from '@components/SchemaEvent'
import { Content as Workshops } from '../content/pages/workshops.md'

const title = 'Futurestate workshops'
const name = title
const description = 'Start building a business fit for the future'
const url = '/workshops'

const page = {
  title,
  name,
  description,
  url
}

const mainEntity = {
  '@type': 'BusinessEvent',
  '@id': `${site.url}/workshops#futurestate-workshops`
}
---

<Default {...page} {mainEntity}>
  <SchemaEvent slot="head" {...page} />
  <article>
    <Hero {name} {description}>
      <svg
        width="590"
        height="379"
        viewBox="0 0 590 379"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="max-w-full lg:absolute lg:right-5 lg:top-[240px]"
      >
        <path d="M302 379v-37h36l-36 37z" fill="#2E2D2C"></path>
        <path
          d="M409.567 249.67v39.988H302.211v53.269h144.454V249.67h-37.098z"
          fill="#2E2D2C"></path>
        <path d="M409.567 249.67H302.211v39.996h107.356V249.67z" fill="#FBD400"
        ></path>
        <path d="M120 362v-73h72l-72 73z" fill="#fff"></path>
        <path d="M72 53H0v48h72V53zM0 125v-24h24L0 125z" fill="#2E2D2C"></path>
        <path d="M180 0h-72v48h72V0zM108 72V48h24l-24 24z" fill="#fff"></path>
        <path
          d="M590 198h-72v48h72v-48zM518 270v-24h25l-25 24zM48 270v-36h36l-36 36zM120 162H48v72h72v-72z"
          fill="#2E2D2C"></path>
        <path
          d="M373.013 161.57l-35.683 35.858V109H120v53.324h35.35v71.671H120V289h181.745v-39.74H409v-87.69h-35.987z"
          fill="#fff"></path>
        <path d="M156 162h-36v72h36v-72z" fill="#FBD400"></path>
        <path d="M554 17H337v145h217V17z" fill="#2E2D2C"></path>
        <path d="M337 109v89l36.35-36.685H409V109h-72z" fill="#2E2D2C"></path>
        <path
          d="M445 55V44h-51v11h51zM482 80V69h-88v11h88zM516 104V93H394v11h122zM482 129v-11h-88v11h88z"
          fill="#FBD400"></path>
        <path
          d="M255.633 198.829h-26.304v-26.305c14.533 0 26.304 11.78 26.304 26.305z"
          fill="#2E2D2C"></path>
        <path
          d="M229.322 172.524v26.305h-26.304c0-14.533 11.779-26.305 26.304-26.305z"
          fill="#FBD400"></path>
        <path
          d="M255.633 198.83v-26.305h26.304c0 14.533-11.779 26.305-26.304 26.305z"
          fill="#2E2D2C"></path>
        <path
          d="M281.937 172.525h-26.304v-26.304c14.532 0 26.304 11.779 26.304 26.304z"
          fill="#FBD400"></path>
        <path
          d="M255.633 198.829v26.304h-26.304c0-14.533 11.779-26.304 26.304-26.304z"
          fill="#2E2D2C"></path>
        <path
          d="M229.321 225.14h26.305v26.305c-14.533 0-26.305-11.78-26.305-26.305z"
          fill="#FBD400"></path>
        <path
          d="M255.633 198.829h26.304v26.304c-14.532 0-26.304-11.779-26.304-26.304z"
          fill="#2E2D2C"></path>
        <path
          d="M281.938 225.141v-26.305h26.304c0 14.533-11.779 26.305-26.304 26.305z"
          fill="#FBD400"></path>
      </svg>
    </Hero>

    <div class="py-16">
      <Container>
        <div class="grid gap-5 lg:grid-cols-12">
          <div class="lg:col-start-1 lg:col-end-7">
            <div
              class="prose lg:prose-xl leading-tight lg:leading-tight mb-5 lg:mb-10"
            >
              <Workshops />
            </div>
            <h4
              class="font-extrabold text-base leading-semi-tight md:text-4xl break-words"
            >
              <a
                class="hover:underline"
                href="mailto:workshops@wilsonfletcher.com"
                >workshops@wilsonfletcher.com</a
              >
            </h4>
          </div>
          <div class="lg:col-start-8 lg:col-end-12">
            <BlockQuote
              description="It’s 2025: we’re going to design the company that put you out of business"
            />
          </div>
        </div>
      </Container>
    </div>
  </article>
</Default>
