---
import site from '@data/site'
import Default from '@layouts/Default.astro'
import { Hero } from '@components/index.astro'
import Container from '@components/Container.astro'
import BlockQuote from '@components/BlockQuote.astro'
import SchemaEvent from '@components/SchemaEvent.tsx'
import { Content as Workshops } from '../content/pages/workshops.md'

const title = 'Futurestate workshops'
const name = title
const description = 'Start building a business fit for the future'
const url = '/workshops'

const page = {
  title,
  name,
  description,
  url
}

const mainEntity = {
  '@type': 'BusinessEvent',
  '@id': `${site.url}/workshops#futurestate-workshops`
}
---

<Default {...page} {mainEntity}>
  <SchemaEvent slot="head" {...page} />
  <article>
    <Hero {name} {description}>
      <svg
        width="590"
        height="380"
        viewBox="0 0 590 380"
        xmlns="http://www.w3.org/2000/svg"
        class="max-w-full lg:absolute lg:right-10 lg:top-[250px]"
        ><g fill-rule="nonzero" fill="none"
          ><path
            d="M192 289.763l-72 73.192v-73.192h72zm145.33-180.475v88.661l35.683-35.953H409v87.921H301.745v39.846H120v-55.15h35.35v-71.861H120v-53.464h217.33zM180 0v48.127h-48L108 72.19V0h72z"
            fill="#FFF"></path><path
            d="M446.666 250.329v93.502H337.098L302 380v-37.098h.211v-52.48h107.357v-40.093h37.098zM590 198.522v48.127h-47l-25 24.063v-72.19h72zm-470-36.095v72.19H84l-36 36.095V162.427h72zm135.626 63.307v26.374c-14.533 0-26.305-11.81-26.305-26.374h26.305zm52.616-26.373c0 14.571-11.779 26.374-26.304 26.374v-26.374h26.304zm-78.921-26.381v26.374h-26.304c0-14.571 11.779-26.374 26.304-26.374zM554 17.045v145.382H372.672L337 198.522V17.045h217zM255.633 146.606c14.533 0 26.305 11.811 26.305 26.374h-26.305v-26.374zM24 101.267L0 125.33v-24.063h24zM72 53.14v48.126H0V53.14h72z"
            fill="#FBD400"></path><path
            d="M409.568 250.329v40.101H302.211v-40.101h107.357zM156 162.427v72.19h-36v-72.19h36zm99.633 36.927v26.373h-26.304c0-14.571 11.779-26.373 26.304-26.373zm26.305 0v26.373c-14.533 0-26.305-11.81-26.305-26.373h26.305zm-52.609-26.374c14.533 0 26.304 11.81 26.304 26.374h-26.304V172.98zm52.609 0c0 14.571-11.78 26.374-26.305 26.374V172.98h26.305zM482 118.312v11.029h-88v-11.029h88zm34-25.066v11.029H394v-11.03h122zm-34-24.064v11.03h-88v-11.03h88zm-37-25.066v11.03h-51v-11.03h51z"
            fill="#2E2D2C"></path></g
        ></svg
      >
    </Hero>

    <div class="py-16">
      <Container>
        <div class="grid gap-5 lg:grid-cols-12">
          <div class="lg:col-start-1 lg:col-end-7">
            <div
              class="prose lg:prose-xl leading-tight lg:leading-tight mb-5 lg:mb-10"
            >
              <Workshops />
            </div>
            <h4
              class="font-extrabold text-base leading-semi-tight md:text-4xl break-words"
            >
              <a href="mailto:workshops@wilsonfletcher.com"
                >workshops@wilsonfletcher.com</a
              >
            </h4>
          </div>
          <div class="lg:col-start-8 lg:col-end-12">
            <BlockQuote
              description="It’s 2025: we’re going to design the company that put you out of business"
            />
          </div>
        </div>
      </Container>
    </div>
  </article>
</Default>
