---
import Body from '@components/Body.astro'
import Url from '@components/Url.astro'

export interface Props {
  article: {
    name: string
    description: string
    url: string
  }
}

const { article, ...props } = Astro.props
const { name, description, url } = article
---

<article data-component="article" class:list={['relative', props.class]}>
  <h3 class="font-black text-2xl leading-tight mb-3 md:min-h-[90px]">
    <Url href={url} target="_blank" rel="external">{name}</Url>
  </h3>

  <Body class="leading-[1.5]">
    <p>{description}</p>
  </Body>
</article>
