---
import Body from '@components/Body.astro'
import Url from './Url.astro'

export interface ArticleInterface {
  name: string
  description: string
  url: string
}

const { name, description, url } = Astro.props as ArticleInterface
---

<article class="flex flex-col relative">
  <h3 class="font-black text-2xl leading-tight mb-3">
    <Url href={url} target="_blank" rel="external">{name}</Url>
  </h3>

  <Body class="leading-[1.5] mt-auto">
    <p>{description}</p>
  </Body>
</article>
