---
import H6 from './H6.vue'

export interface BlockQuoteProps {
  name?: string
  description: string
}

const { name, description } = Astro.props as BlockQuoteProps
---
<div class="prose lg:prose-xl">
  <figure>
    <blockquote>
      <p set:html={description}></p>
    </blockquote>
    {name && <H6 as="figcaption">{name}</H6>}
  </figure>
</div>
