---
import Container from './Container.astro'

const { ...props } = Astro.props
---

<div
  role='contentinfo'
  class:list={['py-8 flex-none bg-black text-white']}
  {...props}
>
  <Container>
    <p>
      Copyright &copy;
      <a
        href='https://futurestatedesign.co/'
        target='_blank'
        class='hover:underline'>Futurestate Design</a
      >
      2025. All rights reserved.
    </p>
  </Container>
</div>
