---
import Container from '@components/Container.vue'
import Logo from '@components/Logo.astro'
import Nav from '@components/Nav.astro'

const nav = {
  name: 'Primary',
  items: [
    {
      name: 'Book',
      url: '/',
    },
    {
      name: 'Workshops',
      url: '/workshops',
    },
  ],
}
---

<div
  role="banner"
  class="flex-none py-10 lg:py-14 absolute top-0 left-0 right-0 z-10 text-white">
  <Container>
    <div class="flex items-center justify-between">
      <a href="/" rel="home" aria-label="Return to the homepage">
        <Logo />
      </a>
      {nav && <Nav {nav} />}
    </div>
  </Container>
</div>
