---
import Container from '@components/Container.vue'
import Logo from '@components/Logo.astro'
import Nav from '@components/Nav/Primary.vue'

const nav = {
  name: 'Primary',
  items: [
    {
      name: 'Book',
      title: 'Buy the book on Amazon',
      url: '/',
    },
    {
      name: 'Workshops',
      title: 'Buy the book on Amazon',
      url: '/workshops',
    },{
      name: 'Buy',
      title: 'Buy the book on Amazon',
      url: 'https://www.amazon.co.uk/dp/1399922106',
      external: true,
    }
  ],
}
---

<div
  role="banner"
  class="flex-none absolute top-0 left-0 right-0 z-10 text-white">
  <Container>
    <div class="flex items-center justify-between h-[var(--header-height-xs)] lg:h-[var(--header-height-lg)]">
      <a href="/" rel="home" aria-label="Return to the homepage">
        <Logo />
      </a>
      {nav && <Nav nav={nav} />}
    </div>
  </Container>
</div>

<style is:global>
:root {
  --header-height-xs: 140px;
  --header-height-lg: 210px;
}
</style>
