---
import Container from '@components/Container.astro'
import Logo from '@components/Logo.astro'
import Nav from '@components/Nav/Primary.astro'

const nav = {
  name: 'Primary',
  items: [
    {
      name: 'Book',
      title: 'Buy the book on Amazon',
      url: '/',
    },
    {
      name: 'Workshops',
      title: 'Buy the book on Amazon',
      url: '/workshops',
    },{
      name: 'Buy',
      title: 'Buy the book on Amazon',
      url: 'https://www.amazon.co.uk/dp/1399922106',
      external: true,
    }
  ],
}
---

<div
  role="banner"
  class="absolute top-0 left-0 w-full z-10"
  data-pattern="header">
  <Container>
    <div class="flex items-end justify-between h-header-height">
      <a href="/" rel="home" aria-label="Return to the homepage">
        <Logo />
      </a>
      {nav && <Nav nav={nav} />}
    </div>
  </Container>
</div>

<style is:global>
:root {
  --header-height-xs: 140px;
  --header-height-lg: 156px;
}
</style>
