---
export interface Props {
  href: string
  class?: string
  target?: string
  rel?: string
}

const { href, ...props } = Astro.props as Props
---

<a {href} class:list={['c-url', props.class]} {...props}>
  <slot />
</a>
