---
import Button from '@components/Button.vue'

interface Item {
  name: string
  title?: string
  url: string
  external?: boolean
}

const { nav } = Astro.props
---

<!-- <pre>{JSON.stringify(nav, null, 2)}</pre> -->

<nav aria-label={nav.name} id="main-navigation">
  <ul class="flex lg:gap-5">
    {nav.items.map((item : Item) => (
      <li>
        <Button as="a" href={item.url} kind={item.external ? 'black' : 'transparent'} target={item.external && '_blank'} title={item.title}>{item.name}</Button>
      </li>
    ))}
  </ul>
</nav>

<script>
  const mainNav = document.querySelector('#main-navigation')
  const mainMenu = mainNav.querySelector('ul')

  const setActiveMenuItem = () => {
    const menuItems = [...mainMenu.querySelectorAll('a:not([rel*="external"])')]

    // menuItems.map((menuItem) => {
    //   if (menuItem.pathname === window.location.pathname) {
    //     menuItem.classList.add('is-active')
    //     menuItem.setAttribute('aria-current', 'page')
    //   }
    //   return true
    // })

    for (const menuItem of menuItems) {
      if (menuItem.pathname === window.location.pathname) {
        menuItem.classList.add('is-active')
        menuItem.setAttribute('aria-current', 'page')
      }
    }
  }

  setActiveMenuItem()
</script>
